body {
margin:2em;
font-family: Arial,Verdana;
color:#444444;
background-color:#ffffff;
font-size:12pt;
}

dt { color:white; font-weight: bold; }
dd { display:inline; margin:5px;}

img{
  margin:10px;
  text-align:center;
  clear:both;
  max-width:600px;
  max-height:400px;
  display:block;
}

h2 {
color:#777777;
}

h3 {
color:#777777;
padding-left:5em;
margin-top:2em;
margin-bottom:0em;
text-align:left;
}


h4 {
color:#777777;
text-align:left;
font-weight:normal;
margin-left:3em;
}

h5 {
color:#777777;
text-align:left;
font-weight:lighter;
font-style:italic;
margin-left:3em;
}

p {
text-align:justify;
font-size:12pt;
}


a{
text-decoration:none;
color:#777777;
font-weight:bold;
}

a:hover {
text-decoration:none;
color:#000000;
background-color:#999999;
font-weight:bold;
}

