include *.py 
include *.xml
include reremi/*.py 
include reremi/*.xml
include reremi/*.xsl
include reremi/grako/*.py
recursive-include help *
recursive-include help/_static *
recursive-include help/_static/screenshots *
include icons/*.png
include icons/*.ico
include ABOUT
include CHANGELOG
include LICENSE* 
include MANIFEST.in
