include siren/*.py 
include siren/*.xml
include siren/reremi/*.py 
include siren/reremi/*.xml
include siren/reremi/*.xsl
recursive-include siren/help *
include siren/commons/siren.css
include siren/commons/siren_icon.png
include siren/commons/top_tools.jpg
include siren/commons/bottom_map.jpg
include siren/commons/both_windows_comm.png
include siren/icons/siren_icon32x32.png
include siren/ABOUT
include siren/LICENSE 
include siren/LICENSE_*
exclude siren/ez_setup.py
exclude siren/setup.py
exclude Makefile
exclude exec_siren.py
exclude ez_setup.py
exclude siren_desktop
exclude x-siren.xml
exclude x-siren_desktop
exclude README_deb
