include siren/*.py 
include siren/*.xml
include siren/reremi/*.py 
include siren/reremi/*.xml
include siren/reremi/*.xsl
graft siren/help
graft siren/commons
graft siren/icons
graft siren/screenshots
include siren/ABOUT
include siren/LICENSE 
include siren/LICENSE_*
exclude siren/ez_setup.py
exclude siren/setup.py
include MANIFEST.in
