body
{
margin:10px;
font-family:verdana,helvetica,sans-serif;
}

h4
{
font-weight:bold;
display:inline;
}

div.page-header
{
padding:10px;
border:1px dotted #cccccc;
background-color:#efefef;
font-style:italic;
}

.parameter-name
{
margin-left:5px;
}

.parameter-legend
{
display:block;
color:#555555;
font-style:italic;
width:75%;
}

table
{
margin-left:4cm;
text-align:center;
}

td
{
padding:3px 20px;
}
